<div class="row d-flex justify-content-center">
    <div class="col-xl-2 col-lg-2 col-md-3 my-2 col-sm-12">
        <a href="/admin/dashboard" class="btn btn-info w-full">Dashboard</a>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 my-2 col-sm-12">
        <a href="/admin/get-all-item" class="btn btn-info w-full">All Item</a>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 my-2 col-sm-12">
        <a href="/admin/admin-register-item" class="btn btn-info w-full">Register New Item</a>
    </div>
    <!--
    <div class="col-xl-2 col-lg-2 col-md-3 my-2 col-sm-12">
        <a href="/admin/in" class="btn btn-warning w-full">IN</a>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 my-2 col-sm-12">
        <a href="/admin/out" class="btn btn-danger w-full">OUT</a>
    </div>
    -->
    <div class="col-xl-2 col-lg-2 col-md-3 my-2 col-sm-12">
        <a href="/admin/logout" class="btn btn-dark w-full">Logout</a>
    </div>
</div>
